body {
  background-color: #F49F1C;
   font-family: 'Baloo 2', cursive;
   }

   .submitBtn, .btn-success {
    font-family: 'Baloo 2', cursive;
    background-color: #F49F1C;
    color: #fff;
    border-color: #F49F1C; /*set the color you want here*/
}
.submitBtn:hover {
  font-family: 'Baloo 2', cursive;
  background-color: #2F2F4F;
  color: #fff;
  border-color: #2F2F4F; /*set the color you want here*/
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo 2', cursive;
}

.small {
  font-weight: 300;
  font-style: italic;  
}

.card-columns {
  column-count: 5;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  grid-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;

}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: rgb(61, 6, 6);
  border-color: rgb(61, 6, 6)
}
.btn-info {
  color: #fff;
  background-color: yellowgreen;
  border-color: yellowgreen
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.color-nav {
  background-color: #2F2F4F;  
}

.bg-dark {
  background-color:#2F2F4F;
  color: white;
}

.navbar-brand{
color: white;
}

a{
  color: white;
  }
  
.homeContainer {
  zoom: 0.75;
}

input[type= "radio"]{
  display: none
}
.netRating {
  color: #F49F1C;
 }
 
 .fandfRating {  
    color: #2F2F4F !important;
    font-weight: bold;
 }
 
 .logo {
  border-radius: 20%;
  /* vertical-align:middle;  */
}